<div class="w-full h-full bg-whiteSmoke p-4 overflow-scroll">
  <Section [ngClass] class="w-full h-fit rounded-2xl bg-silver p-6 mt-6 drop-shadow-lg overflow-scroll">
    <section class="flex justify-between text-black text-xl py-4">
      <button>
        <svg [routerLink]="['/inicio']" class="w-5 h-5 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 8 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
        d="M7 1 1.3 6.326a.91.91 0 0 0 0 1.348L7 13" />
      </svg>
    </button>
  </section>
    <div  class="w-full max--xs">
      <div class="bg-timberWolf text-center  shadow-md rounded px-8 pt-6 pb-8 mb-4 ng-dirty ng-touched ng-valid">
        <div class="grid place-content-center gap-1 md:grid-cols-2">
          <img src="assets/Logo AUFI (2).png" class="w-20" alt="Phone image" />
        </div> <br>
        <div class="text-2xl text-davysGray">Perfil:</div><br>
        <div  class="mb-4 mt-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <p>Nombre: {{Usuario.nombresUsuario}} {{Usuario.apellidoP}} {{Usuario.apellidoM}}</p>
        </div>
        <div class="mb-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <p>Telefono: {{Usuario.telefono}}</p>
        </div>
        <div class="mb-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <p>Correo: {{Usuario.correo}}</p>
        </div>
        <div class="mb-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <p>Nombre de Usuario: {{Usuario.userName}}</p>
        </div>
        <div class="mb-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <p>Fecha de Nacimiento: {{Usuario.fechaNacimiento}}</p>
        </div>
        <div class="mb-4">
          <label class="block text-blanco bg-grisC text-sm font-bold mb-2">
          </label>
          <p>Genero: {{Usuario.genero}}</p>
        </div>
 <!--        <div class="mb-6">
          <label class="block text-blanco text-sm font-bold mb-2" for="contrasena"></label>
          <p>{{Usuario.contrasena}}</p>
        </div> -->
        <!-- <div class=" items-center justify-between">
          <button class="bg-davysGray hover:bg-teaRed text-whiteSmoke font-bold py-2 px-4" type="button" (click)="logout()">
            Cerrar Sesion
          </button>
        </div> -->
        <br>
        <div class=" items-center justify-between">
          <button class="bg-davysGray hover:bg-teaRed text-whiteSmoke font-bold py-2 px-4" type="button"[routerLink]="['/update', Usuario.id]">
            Editar Informacion
          </button>
        </div>
        <br>
        <div class=" items-center justify-between">
          <button class="bg-davysGray hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"
          (click)="eliminar()">
            Eliminar Cuenta
        </button>
        </div>
        <br>
        <button (click)="logout()">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
          <span class="material-symbols-outlined">
            logout
            </span>          
          
      </button>
        <br><br>
        <p class="text-center text-gray-500 text-xs">
          &copy;2023 AUFI Corp. All rights reserved.
        </p>
        <br>
      </div>

    </div>
  </Section>
  <br>
</div>