<div class="w-full h-full bg-grisF p-4 overflow-scroll"> <br><br>
  <Section [ngClass] class="w-full h-fit rounded-2xl bg-silver p-6 mt-6 drop-shadow-lg overflow-scroll">
    <div class="w-full max-w-xs">
      <br><br>
      <form
        class="bg-timberWolf text-blanco text-center  shadow-md rounded px-8 pt-6 pb-8 mb-4 ng-dirty ng-touched ng-valid"
        [formGroup]="Formulario">
        <div class="grid place-content-center gap-1 md:grid-cols-2">
          <img src="assets/Logo AUFI (2).png" class="w-20" alt="Phone image" />
        </div>
        <br>
        <div class="text-2xl text-davysGray">Iniciar Sesión</div>
        <br>
        <div class="mb-4 mt-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <input
            class="shadow bg-grisC text-davysGray appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline"
            name="correo" formControlName="correo" type="text" placeholder="Correo">
          <span *ngIf="campoEsValido('correo')"></span>
        </div>

        <div class="mb-6">
          <label class="block text-blanco text-sm font-bold mb-2" for="contrasena"></label>
          <input
            class="shadow bg-grisC appearance-none rounded w-full py-2 px-3 text-davysGray mb-3 leading-tight focus:outline-none focus:shadow-outline"
            name="contrasena" formControlName="contrasena" type="password" placeholder="Contraseña">
          <span *ngIf="campoEsValido('contrasena')"></span>
        </div>
        <div class="flex items-center justify-between">
          <div *ngIf="loading" role="status">
            <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-coralPink" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
          <button *ngIf="!loading" class="bg-davysGray hover:bg-teaRed text-whiteSmoke font-bold py-2 px-4" type="button" (click)="login()">
            Acceder
          </button>
          <button class="bg-davysGray hover:bg-teaGreen text-whiteSmoke font-bold py-2 px-4" type="button"
            (click)="registro()">
            Registro
          </button>
        </div>
        <br><br>
        <p class="text-center text-gray-500 text-xs">
          &copy;2023 AUFI. Todos los derechos reservados.
        </p><br>
      </form>
      <br><br>
    </div>
  </Section>
  <br><br>
</div>