<div [style.background]="data.fondo" class="w-full h-full p-4 overflow-y-scroll">
  <section class="flex justify-end items-center">
    <button mat-dialog-close class="items-end outline-0 focus:outline-0 active:outline-0">
      <svg [routerLink]="['/inicio']" class="w-4 h-4 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
    </button>
  </section>

  <section class="font-lato">
    <article class="flex justify-between items-center mx-5 mt-5">
      <p>{{data.clima}}</p>
      <p>{{data.estilo}}</p>
    </article>

    <article class="flex flex-col justify-center items-center mt-10">
      <aside class="flex">
        <p class="font-semibold text-lg">{{data.subtipo}}</p>
        <p *ngIf="data.caracteristicas" class="font-semibold text-lg">{{data.caracteristicas}}</p>
      </aside>
      <p class="text-sm">{{data.material}}</p>

      <aside class="my-10 w-fit h-3/4 shrink-0">
        <img [src]="data.imagenPrenda" [alt]="data.tipo">
      </aside>

      <aside class=" flex justify-center items-center">
        <div [style.background]="data.color" class="w-6 h-6 rounded-full mr-2"></div>
        <p class="ml-2">{{data.marca}}</p>
      </aside>
    </article>
  </section>

</div>
