<div class="flex w-screen h-screen bg-whiteSmoke flex-col overflow-y-scroll">
<section class="flex justify-between text-black text-xl m-4">
  <button>
    <svg [routerLink]="['/inicio']" class="w-5 h-5 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M7 1 1.3 6.326a.91.91 0 0 0 0 1.348L7 13" />
    </svg>
  </button>
</section>

<ion-header>
  <ion-toolbar>
    <ion-title>Colecciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="flex flex-wrap justify-center items-center">
    <article class="flex justify-center items-center flex-col">
      <div class="rounded-lg bg-timberWolf p-5 m-5 w-[150px] h-[150px]">
        <ion-img>1</ion-img>
        <ion-img>2</ion-img>
        <ion-img>3</ion-img>
        <ion-img>4</ion-img>
      </div>
      <ion-label>Todo</ion-label>
    </article>
    <article *ngFor="let coleccion of colecciones" class="flex flex-col justify-center items-center">
      <div class="rounded-lg bg-timberWolf p-5 m-5 w-[150px] h-[150px]"
          (click)="goToColeccion(coleccion)">
        <ion-img>Imagen</ion-img>
      </div>
        <ion-label>{{coleccion.name}}</ion-label>
    </article>
  </section>
</ion-content>
</div>
