<div class="w-full h-full bg-whiteSmoke p-4 overflow-scroll">
  <Section [ngClass] class="w-full h-fit rounded-2xl bg-silver p-6 mt-6 drop-shadow-lg overflow-scroll">
    <br>
    <div class="w-full max--xs">
      <form class="bg-timberWolf text-center  shadow-md rounded px-8 pt-6 pb-8 mb-4 ng-dirty ng-touched ng-valid"
        (ngSubmit)="guardar()" [formGroup]="Registro"> 
        <div class="grid place-content-center gap-1 md:grid-cols-2">
          <img src="assets/Logo AUFI (2).png" class="w-20" alt="Phone image" />
        </div> <br>
        <div class="text-2xl text-davysGray">Crea tu cuenta</div><br>
        <div class="mb-4 mt-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <input
            class="input shadow bg-grisC  appearance-none border rounded w-full py-2 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline"
            name="nombresUsuario" formControlName="nombresUsuario" type="text" placeholder="Nombre de Usuario">
            <span *ngIf="campoEsValido('nombresUsuario')"></span>
        </div>
        <div class="mb-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <input
            class="shadow bg-grisC appearance-none border rounded w-full py-2 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline"
            name="apellidoP" formControlName="apellidoP" type="text" placeholder="Apellido Paterno">
            <span *ngIf="campoEsValido('apellidoP')"></span>
        </div>
        <div class="mb-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <input
            class="shadow bg-grisC text-blanco appearance-none border rounded w-full py-2 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline"
            name="apellidoM" formControlName="apellidoM" type="text" placeholder="Apellido Materno">
            <span *ngIf="campoEsValido('apellidoM')"></span>
        </div>
        <div class=" relative">
          <select class="block appearance-none w-full text-blanco  bg-grisC px-2 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" name="genero" formControlName="genero" [(ngModel)]="nuevo.genero">
            <option [value]="genero" *ngFor="let genero of Genero" ng-options="nuevo.Genero">{{genero}}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-blanco">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <input
            class="shadow bg-grisC text-blanco appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline"
            name="telefono" formControlName="telefono" type="text" placeholder="Telefono">
            <span *ngIf="campoEsValido('telefono')"></span>
        </div>
        <div class="mb-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <input
            class="shadow bg-grisC text-blanco appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline"
            name="correo" formControlName="correo" type="text" placeholder="Correo">
            <span *ngIf="campoEsValido('correo')"></span>
        </div>
        <div class="mb-4">
          <label class="block text-blanco text-sm font-bold mb-2">
          </label>
          <input
            class="shadow bg-grisC text-blanco appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline"
            name="userName" formControlName="userName" type="text" placeholder="User Name">
            <span *ngIf="campoEsValido('userName')"></span>
        </div>
        <div class="mb-4">
          <label class="block text-blanco bg-grisC text-sm font-bold mb-2">
          </label>
          <input
            class="shadow bg-grisC appearance-none border rounded w-full py-2 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline"
            name="fechaNacimiento" formControlName="fechaNacimiento" type="text" placeholder="Fecha de Nacimiento">
            <span *ngIf="campoEsValido('fechaNacimiento')"></span>
        </div>
        <!-- <div class="inline-block relative">
          <select
            class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
            name="genero" formControlName="genero" [(ngModel)]="nuevo.genero">
            <option [value]="genero" *ngFor="let genero of Genero" ng-options="nuevo.Genero">{{genero}} </option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
          <span class="form-text text-danger" *ngIf="campoEsValido('genero')"></span>
        </div> -->
        <div class="mb-6">
          <label class="block text-blanco text-sm font-bold mb-2" for="contrasena"></label>
          <input class="shadow bg-grisC appearance-none rounded w-full py-2 px-3 text-blanco mb-3 leading-tight focus:outline-none focus:shadow-outline" 
          name="contrasena" formControlName="contrasena" type="password" placeholder="Contraseña">
          <span *ngIf="campoEsValido('contrasena')"></span>
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-davysGray hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Registrate
          </button>
          <a class="inline-block align-baseline font-bold text-sm text-davysGray hover:text-davysGray" href="/login ">
            ¿Ya tienes cuenta?
          </a>
        </div>
        <br><br>
        <p class="text-center text-gray-500 text-xs">
          &copy;2023 AUFI. Todos los derechos reservados.
        </p>
        <br>
      </form>

    </div>
  </Section>
  <br>
</div>